@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Configs */
:root {
  --primary-color: #b333e9;
  --background-color: #ffffff;
  --input-bg-color: #ede9ef;
  --text-color: #010101;
  --main-font: normal 500 1em "Poppins", sans-serif;
}

body,
html {
  background-color: var(--background-color);
  color: var(--text-color);
  font: var(--main-font);
  min-height: 100vh;
  position: relative;
  margin: 0;
}

/* Navbar configs */
.container {
  display: block;
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
}

.navbar .container {
  border: 1px solid;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-logo {
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid;
  flex: 1;
}

.navbar .navbar-nav {
  visibility: hidden;
  border: 1px solid;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-right: 3rem;
}

.sidebar {
  position: absolute;
  background-color: var(--background-color);
  width: 50vw;
  height: 110vh !important;
  top: 0;
  right: -100%;
  padding: 0 3rem;
  box-shadow: 0 0 40px black;
  transition: all 300ms ease-in-out;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .sidebar-header span,
.navbar span {
  cursor: pointer;
}
.sidebar .sidebar-header span:hover,
.navbar span:hover {
  opacity: .5;
}

.sidebar.show-sidebar {
  right: 0;
}

.sidebar .navbar-nav {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
}

.navbar .navbar-nav .nav-link,
.sidebar .navbar-nav .nav-link {
  text-decoration: none;
  color: var(--text-color);
  transition: all 200ms ease-in-out;
}

.navbar .navbar-nav .nav-link:hover,
.sidebar .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

/* Main content configs */
.main-content {
  border: 1px solid blue;
  padding: 1.5rem;
  overflow-x: hidden;
}

.main-content .col-6 {
  border: 1px solid;
  max-width: 100%;
  padding: 1.5rem;
  text-align: center;
}

.main-content .col-6 form {
  width: 100% !important;
  border: 1px solid;
  display: block;
  width: min-content;
  text-align: start;
  margin: auto;
  border: 1px solid red;
}

.main-content .col-6 .form-group {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content .col-6 .form-label {
  font-size: 20px;
  line-height: 60px;
}

.main-content .col-6 .form-input {
  background-color: var(--input-bg-color);
  max-width: 100%;
  border: 0;
  height: 55px;
  border-radius: 7px;
  padding: 0 1rem;
}

.main-content .col-6 .form-input:focus {
  outline: 1px solid var(--primary-color);
}

.main-content .col-6 .btn-primary {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 0.7rem 2rem;
  border: 0;
  border-radius: 7px;
  margin: 2rem 0;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.main-content .col-6 .btn-primary:hover {
  opacity: 0.7;
}

.main-content .col-6 .btn-primary:active {
  transform: scale(0.9);
}

.main-content .img-container img:not(.fluid img) {
  width: calc(50px + 20vw);
  max-width: 560px;
  min-width: 220px;
}

.fluid img {
  width: calc(100px + 20vw);
  max-width: 100%;
  min-width: 320px;
  height: auto;
}

.active {
  color: var(--primary-color) !important;
}

/* Media Queries */
@media (min-width: 846px) {
  .navbar .navbar-nav {
    visibility: initial;
  }

  .sidebar,
  .navbar span {
    display: none;
  }


  .main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-content h1 {
    font-size: 3vw;
    line-height: 60px;
  }

  .main-content .col-6 {
    text-align: start;
  }

  .main-content .col-6 form {
    width: 349px !important;
    margin: 0;
  }

  .fluid img {
    width: calc(100px + 35vw);
  }
}
