@import url("./vars.css");

.splash-animation {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all; 
    visibility: hidden; 
    opacity: 0;
}

.splash-animation.active {
    opacity: 1;
    visibility: visible; 
}

.splash-animation h1 {
    color: var(--branco);
    font-size: 4em;
    letter-spacing: .5rem;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s ease-in-out infinite; 
}

.disco {
    margin: 0 0 4rem 0;
    animation: spin 3s linear infinite; /* Essa linha faz girar */
}

@keyframes spin {
    to { transform: rotate(360deg); }
}