@import url("../styles/vars.css");

body {
    background-color: var(--branco);
}

/* Navbar */
header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

header i {
    font-size: 3em !important;
}

/* Main */
.container-md h1 {
    font-size: calc(1em + 2vw);
    margin-bottom: 1rem;
}

.container-md {
    padding: 1rem 1.5em;
}

/* Hero Banner */
.container-md .hero-banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container-md .banner {
    width: 240px;
    height: 133px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 1rem ;
}

.container-md .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Covers Musics */
.container-md .covers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.container-md .covers .cover-item {
    padding: .5rem;
    min-width: 0;
    cursor: pointer;
}

.container-md .covers .cover-item img {
    max-width:90px;
    width: 100%;
    height: 90px;
}

.container-md .covers .cover-item h2 {
    font-size: .9em;
    font-weight: 450;
}

.container-md .covers .cover-item p {
    font-size: .75em;
}

/* Playlist */
.container-md .song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cinza);
    padding: 0 1rem;
    height: 65px;
}

.container-md .song .song-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-md .song .song-details img {
    width: 40px;
    height: 40px;
}

.container-md .song .song-details h2 {
    font-size: 1em;
    font-weight: 450;
}

.container-md .song .song-details p {
    font-size: .75em;
}

.container-md .song i {
    color: crimson;
    font-size: 2em;
}

/* Nav */
.navbar {
    background-color: var(--branco);
    padding: .5rem 1.5rem ;
    border-top: 1px solid var(--cinza);
    margin-top: 0;
    z-index: 1000;
}

.navbar .nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar .nav .nav-item .nav-link{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--preto);
    text-decoration: none;
}

.navbar .nav .nav-item .nav-link:hover {
    color: var(--azul);
}

.navbar .nav .nav-item .nav-link p {
    font-size: .8em;
}

.active a{
    color: var(--azul) !important;
}