/* Links CSS */

@import url("./vars.css");
@import url("./splash.css");

/* Global Configs */

body {
    background-color: var(--azul-claro);
    font: var(--font);
}

.container {
    max-width: 2140px;
    width: 100%;
    height: auto;
    margin: auto;
    border: 1px solid white;
}

.container-sm {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    border: 1px solid red;
}

.col-6 {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

@media (min-width: 768px) {
    .col-6 {
        width: 50%;
    }
}