<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevFy - Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/disco.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <header>
        <i class="material-icons">menu</i>
        <img src="../assets/home/perfil.png" alt="foto de perfil">
    </header>
    <main class="container">
        <section class="container-md">
            <h1>Para Você</h1>
            <div class="hero-banner">
                <div class="banner shadow">
                    <img src="../assets/home/banner-1.png" alt="banner-1">
                </div>
                <div class="banner shadow">
                    <img src="../assets/home/banner-2.png" alt="banner-2">
                </div>
            </div>
        </section>
        <section class="container-md">
            <h1>Novas Músicas</h1>
            <div class="covers">
                <div class="cover-item">
                    <img src="../assets/home/item-1.png" alt="cover-item-1">
                    <h2>Abbey Road</h2>
                    <p>The Beatles</p>
                </div>
                <div class="cover-item">
                    <img src="../assets/home/item-2.png" alt="cover-item-1">
                    <h2>Abbey Road</h2>
                    <p>The Beatles</p>
                </div>
                <div class="cover-item">
                    <img src="../assets/home/item-3.png" alt="cover-item-1">
                    <h2>Abbey Road</h2>
                    <p>The Beatles</p>
                </div>
                <div class="cover-item">
                    <img src="../assets/home/item-4.png" alt="cover-item-1">
                    <h2>Abbey Road</h2>
                    <p>The Beatles</p>
                </div>
                <div class="cover-item">
                    <img src="../assets/home/item-5.png" alt="cover-item-1">
                    <h2>Abbey Road</h2>
                    <p>The Beatles</p>
                </div>
                <div class="cover-item">
                    <img src="../assets/home/item-6.png" alt="cover-item-1">
                    <h2>Abbey Road</h2>
                    <p>The Beatles</p>
                </div>
            </div>
        </section>
        <section class="container-md">
            <h1>Playlist</h1>
            <div class="song">
                <div class="song-details">
                    <img src="../assets/home/smile.png" alt="smile icon">
                    <div>
                        <h2>Sertanejo Raiz</h2>
                        <p>mix Sertanejo</p>
                    </div>
                </div>
                <i class="material-icons">favorite</i>
            </div>
        </section>
    </main>
    <nav class="navbar">
        <ul class="nav">
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="material-icons">home</i>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="material-icons">search</i>
                    <p>Search</p>
                </a>
            </li>
            <li class="nav-item active">
                <a href="" class="nav-link">
                    <i class="material-icons">analytics</i>
                    <p>Analytics</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="material-icons">history</i>
                    <p>History</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="material-icons">person</i>
                    <p>Profile</p>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>