<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevFy - Player</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/disco.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/player.css">
</head>
<body>
    <main class="container">
        <header>
            <button type="button" class="icon-btn">
                <i class="material-icons">arrow_back</i>
            </button>
        </header>
        <section class="container-sm">
            <div class="container-fluid col-6">
                <div class="container-md">
                    <img src="../assets/player.png" alt="player image music" class="shadow">
                </div>
            </div>
            <div class="container-fluid col-6">
                <div class="container-md">
                    <div>
                        <h1>Remedy</h1>
                        <p>Annie Schindel</p>
                    </div>
                    <div class="seek-bar">
                        <div class="bar">
                            <div class="before"></div>
                            <div class="after"></div>
                        </div>
                        <div class="time">
                            <span>1:46</span>
                            <span>3:40</span>
                        </div>
                    </div>
                </div> 
                <div class="container-md">
                    <div class="space-between">
                        <button type="button" class="icon-btn play shadow">
                            <i class="material-icons">music_note</i>
                        </button>
                        <button type="button" class="icon-btn play shadow">
                            <i class="material-icons heart">favorite</i>
                        </button>
                    </div>
                </div>
                <div class="container-md">
                    <small class="space-between">
                        <strong>Up Next</strong>
                        <button type="button" class="icon-btn">
                            <i class="material-icons">queue_music</i>
                        </button>
                    </small>
                    <small class="space-between">
                        <p class="flex-column">
                            <span>I'm Fine</span>
                            <span>Drown</span>
                        </p>
                        <p class="flex-column">
                            <span>Ashe</span>
                            <span>Dabian</span>
                        </p>
                        <p class="flex-column">
                            <span>2:16</span>
                            <span>4:19</span>
                        </p>
                    </small>
                </div>
            </div>
        </section>
    </main>
</body>
</html>