/* Register Page Start */
#root {
    min-height: 100vh;
    display: flex;
    background-color: var(--primary-color);
}

#root .main {
    border-radius: 1rem;
    background-color: var(--background-color);
}

#root .main h1 {
    text-align: center;
}

#root form {
    box-shadow: none;
    margin-top: 1rem;
    padding: 0;
}

/* Register Page End */